.home{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home>h2{
    font-size: 25px;
    font-weight: 400;
}
.home>h3{
    color: #075e54;
    font-size: 20px;
}
.home__input{
    display: flex;
    padding: 5px;

}
.home__input>input{
    border-radius: 20px;
    border:2px solid #52e187;
    text-decoration: none;
    padding: 5px;
    outline: none;
    width: 320px;
}
.home__input >button{
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    background-color: #52e187;
}